- content_for :main do
  %fieldset
    %legend Exclusão de recebimento

    %p
      Valor : 
      = @recebimento.valor.real
    %p
    Forma :
    = @recebimento.formas_recebimento.nome
    - form_tag exclui_recebimento_path do 
      %div
        = label_tag 'justificativa : '
        = text_field_tag :observacao_exclusao
      %div
        = submit_tag "Excluir"
        = link_to 'voltar', :back