<% content_for :main do %>
<fieldset class="fieldset_40">
<legend>Novo recebimento</legend>

<% form_for(@recebimento) do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :paciente_id %>
  <%= f.hidden_field :clinica_id %>
  <table class='transparente'>
    <tr>
      <td align='right'><%= f.label :paciente %> :</td>
      <td><%= @paciente.nome %></td>
    </tr>
    <tr>
      <td align='right'><%= f.label :data %></td>
      <td><%= text_field_tag :datepicker, Date.today.to_s_br, :size=>10 %></td>
    </tr>
    <tr>
      <td align='right'><%= f.label :forma_recebimento_id %> :</td>
      <td><%= f.select :formas_recebimento_id, @formas_recebimentos, {}, html_options={  :onchange=>"selecionou_forma('recebimento_formas_recebimento_id');"} %></td>
    </tr>
    <tr>
      <td align='right'><%= f.label :valor %> :</td>
      <td><%= f.text_field :valor, :size=>10, :onblur=>"copia_valor();"  %></td>
    </tr>
    <tr>
      <td align='right'><%= f.label :observação %> :</td>
      <td><%= f.text_field :observacao %></td>
    </tr>
    
  </table>

  <div id="cheque" style="display:none;">
    <fieldset class='fieldset_50'>
    <legend> dados do cheque</legend>
  
  <table class='transparente'>
    <tr>
      <td align='right'><%= label_tag :banco %> : </td>
      <td><%= select_tag :banco_id, options_for_select(@bancos), :include_blank=>true  %></td>
    </tr>
    <tr>
      <td align='right'><%= label_tag :agencia %> :</td>
      <td>   <%= text_field_tag :agencia, '', :size=>8 %>
         <%= label_tag :conta_corrente %> : 
         <%= text_field_tag :conta_corrente, '', :size=>7 %>
         <%= label_tag :número %> : 
         <%= text_field_tag :numero, '',:size=>7 %></td>
    </tr>
    <tr>
      <td align='right'><%= label_tag :valor_do_cheque %> : </td>
      <td><%= text_field_tag :valor, '', :size=>8%></td>
    </tr>
    <tr>
      <td align='right'><%= f.label :bom_para %> : </td>
      <td><%= text_field_tag :datepicker2, '', :size=>10 %></td>
    </tr>
    <tr>
      <td colspan="2"><hr></td>
    </tr>
    <tr>
      <td align='right'><%= label_tag :segundo_paciente %> : </td>
      <td><%= text_field_tag :segundo_paciente,'', :size=>30 %>
        <%= hidden_field_tag :id_segundo_paciente , 0 %> 
        <%= link_to "pesquisar", "#" , :onclick=>"busca_pacientes_que_iniciam_com('segundo_paciente')"%>
      </td>
    </tr>
    <tr id='linha_segundo_paciente' style='display:none;'>
      <td>&nbsp;</td>
      <td>
        <div id="nomes_segundo_paciente" class='lista'>
        </div>
      </td>
    </tr>
    <tr>
      <td align='right'><%= label_tag :valor %> : </td>
      <td><%= text_field_tag :valor_paciente_2 , '', :size=>10 %></td>
    </tr>
    <tr>
      <td align='right'><%= label_tag :observação %> : </td>
      <td><%= text_field_tag :observacao_paciente_2 , '', :size=>30 %></td>
    </tr>
    <tr>
      <td colspan="2"><hr></td>
    </tr>
    <tr>
      <td align='right'><%= label_tag :terceiro_paciente %> : </td>
      <td><%= text_field_tag :terceiro_paciente,'', :size=>30 %>
        <%= hidden_field_tag :id_terceiro_paciente , 0 %>
        <%= link_to "pesquisar", "#" , :onclick=>"busca_pacientes_que_iniciam_com('terceiro_paciente')"%></td>
    </tr>
     <tr id='linha_terceiro_paciente' style='display:none;'>
        <td>&nbsp;</td>
        <td>
          <div id="nomes_terceiro_paciente" class='lista'>
            
          </div>
        </td>
      </tr>
    <tr>
      <td align='right'><%= label_tag :valor %> : </td>
      <td><%= text_field_tag :valor_paciente_3 , '', :size=>10 %></td>
    </tr>
    <tr>
      <td align='right'><%= label_tag :observação %> : </td>
      <td><%= text_field_tag :observacao_paciente_3 , '', :size=>30 %></td>
    </tr>
  </table>
 
  </fieldset>
  </div>
  <p>
    <%= f.submit 'salvar' %>
  </p>
<% end %>

<%= link_to 'voltar', abre_paciente_path(:id=>@recebimento.paciente_id) %>
</fieldset >
<% end %>