<% content_for :main do %>
<fieldset class="fieldset_40">
<legend>Novo recebimento</legend>

<% form_for(@recebimento) do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :paciente_id %>
  <%= f.hidden_field :clinica_id %>

  <p>
    <%= f.label :paciente %> : <%= @paciente.nome %>
  </p>
  <p>
    <%= f.label :data %>
    <%= text_field_tag :datepicker, Date.today.to_s_br, :size=>10 %>
  </p>
  <p>
    <%= f.label :forma_recebimento_id %>
    <%= f.select :formas_recebimento_id, @formas_recebimentos, {}, html_options={  :onchange=>"selecionou_forma('recebimento_formas_recebimento_id');"} %>
  </p>
  <p>
    <%= f.label :valor %>
    <%= f.text_field :valor, :size=>10, :onblur=>"copia_valor();"  %>
  </p>
  <p>
    <%= f.label :observação %>
    <%= f.text_field :observacao %>
  </p>
  <div id="cheque" style="display:none;">
    <fieldset>
    <legend> dados do cheque</legend>
  <% f.fields_for :cheque do |c| %>
    <p>
       <%= c.label :banco %> : 
       <%= c.select :banco_id, options_for_select(@bancos)  %>
    </p>
    <p>
       <%= c.label :agencia %> : 
       <%= c.text_field :agencia, :size=>7 %>
       <%= c.label :conta_corrente %> : 
       <%= c.text_field :conta_corrente, :size=>7 %>
       <%= c.label :número %> : 
       <%= c.text_field :numero, :size=>7 %>
    </p>
    <p>
      <%= c.label :valor %>
      <%= c.text_field :valor, :size=>8%>
    </p>
    <p>
        <%= f.label :bom_para %>
        <%= text_field_tag :datepicker2, Date.today.to_s_br, :size=>10 %>
      </p>
  <% end %>
  </fieldset>
  </div>
  <p>
    <%= f.submit 'salvar' %>
  </p>
<% end %>

<%= link_to 'voltar', abre_paciente_path(:id=>@recebimento.paciente_id) %>
</fieldset >
<% end %>