- content_for :main do
  %p
    &nbsp;
    = render :partial => 'cheques/detalhe_cheque' , :locals => {:cheque => @cheque }
  
  - form_for @acompanhamento_cheque do |f| 
    = f.hidden_field :cheque_id
    %p
      = f.label :descrição
      = ':'
      = f.text_field :descricao , :size => 100
    %p
      = f.submit 'Salvar' 
