<fieldset class="fieldset_60">
    <legend>Ficha de cadastro</legend>
<% form_for(@paciente) do |f| %>
  <%= f.error_messages %>
<p>
<%= f.label :nome %> : <%= f.text_field :nome, :size=>55 %>
<%= f.label :cpf %> :
    <%= f.text_field :cpf, :size=>12 %>
</p>
<p>
<%= f.label :tabela_id %> : <%= f.select :tabela_id, @tabelas %>
<%= f.label :inicio_tratamento %> : 
<%= f.date_select :inicio_tratamento, :order=>[:day, :month, :year] %>
  </p>
 
  <p>
	<%= f.label :cep %> :
    <%= f.text_field :cep, :size=>10 %>
  </p>
  <p>
    <%= f.label :logradouro %> : 
    <%= f.text_field :logradouro, :size=>60 %>
  </p>
  <p>
    <%= f.label :numero %> :  <%= f.text_field :numero , :size=>10%>
    <%= f.label :complemento %> : <%= f.text_field :complemento, :size=>10 %>
  </p>
  <p>
    <%= f.label :bairro %> : 
    <%= f.text_field :bairro, :size=>20 %>
	<%= f.label :cidade %> : 
    <%= f.text_field :cidade %>
    <%= f.label :uf %> :
    <%= f.text_field :uf, :size=>3 %>
  </p>
  <p>
    <%= f.label :telefone %> :
    <%= f.text_field :telefone, :size=>22 %>
    <%= f.label :celular %> :
    <%= f.text_field :celular , :size=>22%>
  </p>  
  <p>
    <%= f.label :email %> : 
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :nascimento %> :
    <%= f.date_select :nascimento, :order=>[:day, :month, :year] %>
   
    <%= f.label :sexo %> :
    <%= f.radio_button :sexo, :masculino %> Masc
    <%= f.radio_button :sexo, :feminino %> Fem
   </p>  
  <p>
    <%= f.submit 'alterar' %>
  </p>
<% end %>
</fieldset>
