- if !@administracao
  = link_to "Novo recebimento", new_recebimento_path(:paciente_id=>@paciente.id)
  | 
  = link_to "Novo débito", new_debito_path(:paciente_id=>@paciente.id)
%br
%br
%table
  %tr
    %th
      Data
    %th{ :width => "200px" }
      Descrição
    %th{ :width => "70px" }
      Débito
    %th{ :width => "70px" }
      Crédito
    %th{ :width => "70px" }
      Saldo
    %th
      Bom para
    %th
      Detalhes
    %th
      \&nbsp;
  - saldo         = 0.0
  - total_debito  = 0.0
  - total_credito = 0.0
  - @paciente.extrato.each do |lancamento|
    %tr
      %td{ :align => "center" }
        = lancamento.data.to_s_br
      - if lancamento.class == Debito
        - total_debito += lancamento.valor
        %td
          = lancamento.descricao
        %td{ :align => "right" }
          = link_to lancamento.valor.real, edit_debito_path(lancamento)
        %td
          \&nbsp;
        - saldo -= lancamento.valor
      - else
        - total_credito += lancamento.valor
        %td
          = lancamento.observacao_do_recebimento
        %td
          \&nbsp;
        %td{ :align => "right" }
          = link_to lancamento.valor.real, edit_recebimento_path(lancamento)
        - saldo += lancamento.valor
        - cor =  saldo > 0 ? "black" : "red"
        %td{ :align => "right", :style => "color: #{cor}" }
          = saldo.real
      - if lancamento.class == Recebimento
        - if lancamento.formas_recebimento.nome.downcase == 'dinheiro'
          %td
            \&nbsp;
      - else
        %td
          = lancamento.cheque.bom_para.to_s_br  if lancamento.cheque.present? && lancamento.cheque.bom_para.present?
    %td
      = lancamento.formas_recebimento.nome
    - else
    %td
      \&nbsp;
    %td
      \&nbsp;
    %td
      = link_to 'Excluir', lancamento, :confirm => 'Tem certeza?', :method => :delete if lancamento.pode_excluir?
  %tr
    %td{ :align => "center", :colspan => "2" }
      Total
    %td{ :align => "right" }
      = total_debito.real
    %td{ :align => "right" }
      = total_credito.real
    %td{ :colspan => "4" }
      \&nbsp;
%table
  %tr
    %th
      Data 1 devolução
    %th{ :width => "200px" }
      Motivo
    %th{ :width => "70px" }
      Data 2 devolução
  - @paciente.cheques_devolvidos.each do |cheque|
    %tr
      %td
        = cheque.data_primeira_devolucao
      %td
        = cheque.motivo_primeira_devolucao
      %td
        = cheque.data_segunda_devolucao