  <% if !administracao? %>
    <%= link_to "Novo recebimento", new_recebimento_path(:paciente_id=>@paciente.id) %>
    | 
    <%= link_to "Novo débito", new_debito_path(:paciente_id=>@paciente.id) %>
  <% end %>
<br/><br/>
<table>
  <tr>
    <th>Data</th>
    <th width="200px">Descrição</th>
    <th width="70px">Débito</th>
    <th width="70px">Crédito</th>
    <th width="70px">Saldo</th>
    <th>Bom para</th>
    <th>Detalhes</th>
  </tr>
  <% saldo = 0 %>
<% @paciente.extrato.each do |lancamento| %>
  <tr>
    <td align="center"><%= lancamento.data.to_s_br%></td>
    <% if lancamento.class == Debito %>
      <td><%= lancamento.descricao %></td>
      <td align="right"><%= link_to lancamento.valor.real, edit_debito_path(lancamento) %></td>
      <td>&nbsp;</td>
      <% saldo -= lancamento.valor %>
    <% else %>
    <% #debugger%>
      <td><%= lancamento.observacao_do_recebimento %></td>
      <td>&nbsp;</td>
      <td align="right"><%= link_to lancamento.valor.real, edit_recebimento_path(lancamento) %></td>
      <% saldo += lancamento.valor %>
    <% end %>
    <% if saldo >0 %>
      <% cor = "black"%>
    <% else %>
      <% cor = "red" %>
    <% end %>
    <td align="right" style="color: <%= cor %>"><%= saldo.real %></td>
    
      <% if lancamento.class == Recebimento %>
        <td><%= lancamento.cheque.bom_para.to_s_br unless lancamento.cheque.nil? %></td>    
       <td><%= lancamento.formas_recebimento.nome %></td> 
      <% else %>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
    <% end %>
  </td>
  </tr>
<% end %>
</table>