<p>
<%= f.label :nome %> : <%= f.text_field :nome, :size=>60 %>
</p>
<p>
<%= f.label :tabela_id %> : 
<%= f.select :tabela_id, @tabelas %>
<%= f.label :inicio_de_tratamento %> :
<%= text_field_tag :datepicker2, @paciente.inicio_tratamento.to_s_br || Date.toda.to_s_br, :size=>10 %>
  </p>
  <p>
	<%= f.label :cep %> :
    <%= f.text_field :cep, :size=>10 %>
  </p>
  <p>
    <%= f.label :logradouro %> : 
    <%= f.text_field :logradouro, :size=>60 %>
  </p>
  <p>
    <%= f.label :numero %> :  <%= f.text_field :numero , :size=>10%>
    <%= f.label :complemento %> : <%= f.text_field :complemento, :size=>10 %>
  </p>
  <p>
    <%= f.label :bairro %> : 
    <%= f.text_field :bairro, :size=>20 %>
	<%= f.label :cidade %> : 
    <%= f.text_field :cidade %>
    <%= f.label :uf %> :
    <%= f.text_field :uf, :size=>3 %>
  </p>
  <p>
    <%= f.label :telefone %> :
    <%= f.text_field :telefone, :size=>22 %>
    <%= f.label :celular %> :
    <%= f.text_field :celular , :size=>22%>
  </p>  
  <p>
    <%= f.label :email %> : 
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.label :nascimento %> :
<%= f.date_select :nascimento, options={:start_year=>1910, :order=>[:day, :month, :year] }%>
    <%= f.label :cpf %> :
    <%= f.text_field :cpf, :size=>12 %>
    <%= f.label :sexo %> :
    <%= f.radio_button :sexo, :m %> Masc
    <%= f.radio_button :sexo, :f %> Fem
   </p>
  <p>
  	<%= f.label :indicacao %>
    <%= f.select :indicacao_id, @indicacoes, :include_blank=>true %>
  </p>
  <fieldset class="fieldset_40">
  <legend><%= f.check_box :ortodontia %> <%= f.label :Paciente_de_ortodontia %></legend>
  <table class='transparente'>
    <tr>
      <td align='right'><%= f.label :valor_da_mensalidade%> : </td><td><%= f.text_field :mensalidade_de_ortodontia, :size=>8 %> </td>
    </tr>
    <tr>
      <td align='right'><%= f.label :ortodontista %> : </td><td><%= f.select :ortodontista_id, @ortodontistas , :include_blank=>true %></td>
    </tr>
    <tr><td align='right'><%= f.label 'Suspender cobrança de orto a partir de'%> : </td><td> <%= text_field_tag :datepicker3, @paciente.data_da_suspensao_da_cobranca_de_orto, :size=>8 %></td>
    </tr>
    <tr> 
      <td align='right'><%= f.label :motivo_da_suspensão_da_cobrança%> : </td><td><%= f.text_field :motivo_suspensao_cobranca_orto , :size=>20 %></td></tr>
  </table>
  </fieldset>
  <fieldset class="fieldset_40">
    <legend><%= f.check_box :sair_da_lista_de_debitos %> <%= f.label :sair_da_lista_de_débito%></legend>
    <p><%= f.label :data_da_saída_da_lista_de_débitos %> : <%= text_field_tag :datepicker4, @paciente.data_da_saida_da_lista_de_debitos.to_s_br , :size=>10%></p>
    <p><%= f.label :motivo_para_sair_da_lista_de_debitos%> : <%= f.text_field :motivo_sair_da_lista_de_debitos%></p>
  </fieldset>