<h2>Trabalhos devolvidos</h2>
<table>
  <tr>
    <th>Data da envio</th>
    <th>Descrição</th>
    <th>Observação</th>
    <th>Valor</th>
    <th>Data de devolução</th>
    <th>Protético</th>
    <th>Dentista</th>
  </tr>
<% @devolvidos_protetico.each do |trab| %>
  <tr>
    <td><%= trab.data_de_envio.to_s_br%></td>
    <td><%= link_to trab.tabela_protetico.descricao, edit_trabalho_protetico_path(trab) if trab.tabela_protetico %></td>
    <td><%= trab.observacoes %></td>
    <td><%= trab.valor.real %></td>
    <td align="center"><%= trab.data_de_devolucao.to_s_br %></td>
    <td><%= trab.protetico.nome %></td>
    <td><%= trab.dentista.nome if trab.dentista %></td>

  </tr>

<% end %>
</table>