<% if !administracao? %>
  <%= link_to "Novo procedimento" , new_tratamento_path(:paciente_id=>@paciente.id)  %> 
<% end %>
<br/><br/>
<table>
  <tr>
	  <th>Dente</th>
	  <th>Face</th>
    <th width="40px">Código</th>
    <th width="190px">Descrição</th>
    <th width="60px">Valor</th>
    <th width="60px">Custo</th>
    <th>Dentista</th>
    <th>Data de realização</th>
    <th>Orçamento</th>
  </tr>
<% Tratamento.do_paciente(@paciente.id).each()  do |tratamento|  %>
  <tr>
	<td align="center">
	<% if tratamento.nao_pode_alterar? %>
	  <%= tratamento.dente %> 
	<% else %>
	  <%= link_to tratamento.dente, edit_tratamento_path(:id=>tratamento.id) %>
	<% end %>
	</td>
	<td><%= tratamento.faces %></td>
    <td><%= tratamento.item_tabela.codigo  unless tratamento.item_tabela.nil? %></td>
    <td><%= link_to tratamento.item_tabela.descricao, edit_tratamento_path(tratamento) unless tratamento.item_tabela.nil?%></td>
    <td align="right"><%= tratamento.valor.real%></td>
    <td align="right"><%= tratamento.custo.real%></td>
    <td><%= tratamento.dentista.nome %></td>
    <td align="center">
    <% if tratamento.data.to_s_br.blank? %>
      <%= link_to "finalizar", finalizar_procedimento_tratamento_path(:id=>tratamento.id) %>
    <% else %>
      <%= tratamento.data.to_s_br%></td>
    <% end %>
    <td align='center'><%= tratamento.orcamento.numero unless tratamento.orcamento.nil? %></td>
  </tr>
<% end %>
</table>
