<table>
  <tr>
  	<th>Código</th>
    <th>Descrição</th>
    <th>Valor</th>
    <th>Dentista</th>
    <th>Data de realização</th>
  </tr>
<% Tratamento.do_paciente(@paciente.id).each()  do |tratamento|  %>
  <tr>
	<td><%= tratamento.item_tabela.codigo %></td>
    <td><%= tratamento.item_tabela.descricao %></td>
    <td><%= tratamento.valor.real%></td>
    <td><%= tratamento.dentista.nome %></td>
    <td><%= tratamento.data.to_s_br%></td>
  </tr>
     <br/>
<% end %>
</table>