= javascript_include_tag 'jsDraw2D.js','odontograma.js'

- if !@administracao
  = link_to "Novo procedimento" , new_tratamento_path(:paciente_id=>@paciente.id) 
  |
  = link_to "Odontograma", '#', :onclick=>'desenha_odontograma();'
%br
%br
#canvas{:style=> 'display :none;'}
%table
  %tr
    %th
      %br
      Dente
    %th
      %br
      Face
    %th{ :width => "40px" }
      %br
      Código
    %th{ :width => "190px" }
      %br
      Descrição
    %th{ :width => "60px" }
      %br
      Valor
    %th{ :width => "60px" }
      %br
      Custo
    %th
      %br
      Dentista
    %th
      Data de
      %br
      realização
    %th
      %br
      Orçamento
    %th
      Trabalho de
      %br
      Protético
  - total = 0.0
  - @paciente.tratamentos.each() do |tratamento|
    %tr{:style=>'height: 40px;'}
      %td{ :align => "center" }
        - if tratamento.pode_alterar?
          = link_to tratamento.dente, edit_tratamento_path(:id=>tratamento.id)
        - else
          = tratamento.dente
      %td
        = tratamento.faces
      %td
        = tratamento.item_tabela.codigo  unless tratamento.item_tabela.nil?
      %td
        - if tratamento.pode_alterar?
          = link_to tratamento.descricao, edit_tratamento_path(tratamento)
        - else
          = tratamento.descricao
      %td{ :align => "right" }
        = tratamento.valor.real
      %td{ :align => "right" }
        = tratamento.custo.real
      %td
        = tratamento.dentista.nome unless tratamento.dentista.nil?
      %td{ :align => "center" }
        - if tratamento.data.to_s_br.blank?
          %span{ :id => "finalizar_#{tratamento.id.to_s}" }
          = link_to "finalizar", "#", :onclick=>'finalizar_tratamento(' + tratamento.id.to_s + ')'
        - else
          = tratamento.data.to_s_br
      %td{ :align => "center" }
        = tratamento.orcamento.numero unless tratamento.orcamento.nil?
      %td
        = link_to "novo trabalho de protético", new_trabalho_protetico_path(:tratamento_id=>tratamento.id, :paciente_id=>tratamento.paciente.id) if tratamento.pode_alterar? && tratamento.data.nil?
    - total += tratamento.valor
  %tr
    %td{ :align => "center", :colspan => "4" }
      Total
    %td{ :align => "right" }
      = total.real
    %td{ :colspan => "5" }
