<%= link_to "novo procedimento" , new_tratamento_path(:paciente_id=>@paciente.id) unless session[:clinica_id].to_i == 0 %>
<br/><br/>
<table>
  <tr>
	<th>Dente</th>
	<th>Face</th>
    <th width="80px">Código</th>
    <th width="190px">Descrição</th>
    <th width="70px">Valor</th>
    <th width="70px">Custo</th>
    <th>Dentista</th>
    <th>Data de realização</th>
  </tr>
<% Tratamento.do_paciente(@paciente.id).each()  do |tratamento|  %>
  <tr>
	<td align="center">
	<% if tratamento.nao_pode_alterar? %>
	  <%= tratamento.dente %> 
	<% else %>
	  <%= link_to tratamento.dente, edit_tratamento_path(:id=>tratamento.id) %>
	<% end %>
	</td>
	<td><%= tratamento.face %></td>
    <td><%= tratamento.item_tabela.codigo  unless tratamento.item_tabela.nil? %></td>
    <td><%= tratamento.item_tabela.descricao unless tratamento.item_tabela.nil?%></td>
    <td align="right"><%= tratamento.valor.real%></td>
    <td align="right"><%= tratamento.custo.real%></td>
    <td><%= tratamento.dentista.nome %></td>
    <td align="center">
    <% if tratamento.data.to_s_br.blank? %>
      <%= link_to "finalizar", finalizar_procedimento_tratamento_path(:id=>tratamento.id) %>
    <% else %>
      <%= tratamento.data.to_s_br%></td>
    <% end %>
  </tr>
<% end %>
</table>
