<% content_for :main do %>
  <div id="tabs">
    <ul>
        <li><a href="#tratamento"><span>Tratamento</span></a></li>
        <li><a href="#orcamento"><span>Orcamento</span></a></li>
        <li><a href="#cadastro"><span>Cadastro</span></a></li>
        <li><a href="#extrato"><span>Extrato</span></a></li>
        <li><a href="#alta"><span>Alta</span></a></li>
        <li><a href="#protetico"><span>Protético</span></a></li>
    </ul>
    <div id="tratamento"><%= render :partial=>"tratamento"  %></div>
    <div id="orcamento"> <%= render :partial=>'orcamento' %>   </div>
    <div id="cadastro">  <%= render :partial=>"edit"  %>      </div>
    <div id="extrato">   <%= render :partial=>"extrato" %>    </div>
    <div id="alta">      <%= render :partial=>"alta" %>       </div>
    <div id="protetico"> <%= render :partial=>"protetico" %>  </div>
  </div>
<% end %>