<% content_for :main do %>
<h3>Listando tabelas</h3>

<table>
  <tr>
    <th width="150px">Tabela</th>
    <th>Ativa</th>
    <% if administracao? %>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    <% end %>
  </tr>
<% @tabelas.each do |tabela| %>
  <tr>
    <td><%= link_to tabela.nome, item_tabelas_path(:tabela_id=>tabela.id) %></td>
    <td><%= tabela.ativa ? "sim" : "não" %></td>
    <% if administracao? %>
    <td><%= link_to 'Editar', edit_tabela_path(tabela) if current_user.pode_incluir_tabela %></td>
    <td><%= link_to 'Excluir', tabela, :confirm => 'Tem certeza ?', :method => :delete if current_user.pode_incluir_tabela%></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova tabela', new_tabela_path if current_user.pode_incluir_tabela %>
<% end %>