<% content_for :main do %>
<h3>Listando tabelas</h3>

<table>
  <tr>
    <th width="150px">Tabela</th>
    <th>Clínica</th>
    <th>Ativa</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
<% @tabelas.each do |tabela| %>
  <tr>
    <td><%= link_to tabela.nome, item_tabelas_path(:tabela_id=>tabela.id) %></td>
    <td><%= tabela.clinica.nome %></td>
    <td><%= tabela.ativa ? "sim" : "não" %></td>
    <td><%= link_to 'Editar', edit_tabela_path(tabela)  %></td>
    <td><%= link_to 'Excluir', tabela, :confirm => 'Tem certeza ?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova tabela', new_tabela_path  %>
<% end %>