%h2 Itens liberados para pagamento ( ainda não pagos )
%table.tabela
  %tr
    %th Paciente
    %th Dente
    %th Descrição
    %th Data de devolução
    %th Data de liberação para pagamento
    %th Dentista
    %th cancelar liberação
  - itens.each do |item|
    %tr{:id=>"tr-liberados#{item.id}"}
      %td= item.paciente.nome
      %td= item.dente
      %td= item.tabela_protetico.descricao
      %td= l(item.data_de_devolucao)
      %td= l(item.data_liberacao_para_pagamento)
      %td= item.dentista && item.dentista.nome
      %td= link_to_function 'cancelar liberação' ,"cancelar_liberacao(#{item.id})"