<% form_tag pagamentos_protetico_path(@protetico), :method=>:get do %>
  <%= label_tag :data_inicial %>
  <%= text_field_tag :data_inicial, params[:data_inicial], :size=>10, :class=>'datepicker' %>
  <%= label_tag :data_inicial %>
  <%= text_field_tag :data_final, params[:data_final], :size=>10, :class=>'datepicker' %>
  <%= submit_tag 'pesquisar'%>
<% end %>
<table class='tabela'>
  <tr>
    <th>Data</th>
    <th>Valor</th>
    <th>Cheques</th>
  </tr>
  <% pagamentos.each do |pg| %>
    <tr>
      <td><%= pg.data_de_pagamento.to_s_br %></td>
      <td><%= pg.valor_pago.real %></td>
      <td>
	      <% cheques = "" %>
        <% pg.cheques.each do |cq| %>
          <% cheques = cheques + cq.banco.nome +  " | " + cq.numero + " | " + cq.recebimento.paciente.nome + " | " + cq.valor.real.to_s + "<br/>" %>
	      <% end %>
	      <%= cheques %>
	    </td>
    </tr>
  <% end %>
</table>