  <table class='tabela'>
    <tr>
      <th width="120px">Data</th>
      <th width="120px">Valor</th>
      <th width="250px">Cheques</th>
      <th>Detalhes</th>
    </tr>
    <% pagamentos.each do |pg| %>
      <tr>
        <td align='center'><%= pg.data_de_pagamento.to_s_br %></td>
        <td align='right'><%= pg.valor_pago.real %></td>
        <td>
          <% cheques = "" %>
          <% pg.cheques.each do |cq| %>
            <% cheques = cheques + cq.banco.nome +  " | " + cq.numero + " | " + cq.nome_dos_pacientes + " | " + cq.valor.real.to_s + "<br/>" %>
          <% end %>
          <%= cheques %>
        </td>
        <td>
            <table border=0>
              <tr>
                <th>Paciente</th>
                <th>Descrição</th>
                <th>Observação</th>
                <th>Valor</th>
                <th>Dt Devol.</th>
              </tr>
          <% pg.trabalho_proteticos.each do |trab| %>
              <tr>
                <td><%= trab.paciente.nome%></td>
                <td><%= trab.tabela_protetico && trab.tabela_protetico.descricao %></td>
                <td><%= trab.observacoes %></td>
                <td align = 'right'><%= trab.valor.real %></td>
                <td><%= trab.data_de_devolucao.to_s_br%></td>
              </tr>
          <% end %>
            </table>
        </td>
      </tr>
    <% end %>
  </table>
