<div style='float:right;'>
Valor dos trabalhos selecionados : R$ <span id="valor">0</span>
<span id="link_pagamento">
<%= link_to "efetua pagamento ", new_pagamento_path() %>
</span>
</div>
<h2>Trabalhos recebidos e não pagos</h2>

<table>
  <tr>
    <th><br/>Clínica</th>
    <th><br/>Paciente</th>
    <th><br/>Dente</th>
    <th><br/>Data da envio</th>
    <th><br/>Descrição</th>
    <th><br/>Valor</th>
    <th><br/>Data de devolução</th>
    <th><br/>Dentista</th>
    <th>Selecionar<br/>p/ pagto</th>
  </tr>
<% @trabalhos_devolvidos.each do |trab| %>
  <tr>
    <td><%= trab.clinica.nome %></td>
    <td><%= trab.paciente.nome%></td>
    <td><%= trab.dente if trab.dente.present? %></td>
    <td align='center'><%= trab.data_de_envio.to_s_br%></td>
    <td><%= link_to trab.tabela_protetico.descricao, edit_trabalho_protetico_path(trab) %></td>
    <% id = "valor_#{trab.valor}"%>
    <td><%= trab.valor.real %></td>
    <td align='center'><%= trab.data_de_devolucao.to_s_br %></td>
    <td><%= trab.dentista.nome %></td>
   <td align="center"><%= check_box_tag :pagar, trab.id, false , options={ :onclick=>'pagar(' + trab.valor.to_s + ',' + trab.id.to_s + ',' + @protetico.id.to_s +  ');', :id=>'pagar_'+trab.id.to_s} %></td>
  </tr>
<% end %>
</table>