<h2>Trabalhos pendentes</h2>
<table>
  <tr>
    <th><br/>Paciente</th>
    <th><br/>Data da envio</th>
    <th><br/>Descrição</th>
    <th><br/>Valor</th>
    <th>Data prevista<br/>de devolução</th>
    <th><br/>Data de devolução</th>
    <th><br/>Dentista</th>
  </tr>
<% @trabalhos_pendentes.each do |trab| %>
  <tr>
	<td><%= trab.paciente.nome unless trab.paciente.nil? %></td>
    <td align='center'><%= trab.data_de_envio.to_s_br%></td>
    <td><%= link_to trab.tabela_protetico.descricao, edit_trabalho_protetico_path(trab) unless trab.tabela_protetico.nil? %></td>
    <td><%= trab.valor.real %></td>
    <td align='center'><%= trab.data_prevista_de_devolucao.to_s_br%></td>
    <td align='center'><span id=<%= "data_#{trab.id}" %> > 
      <%= link_to 'foi devolvido', '#', :onclick=>'javascript:devolve_trabalho('+ trab.id.to_s + ')' %>
       </span></td>
    <td><%= trab.dentista.nome unless trab.dentista.nil? %></td>

  </tr>

<% end %>
</table>