<% content_for :main do %>
<h3>Relatório de protético</h3>
<table>
  <tr>
    <th>Data prevista</th>
    <th>Protético</th>
    <th>Paciente</th>
    <th>Descrição</th>
    <th>Valor</th>
  </tr>
<% @pendentes.each do |pen| %>
  <tr>
    <td><%= pen.data_prevista_de_devolucao.to_s_br %></td>
    <td><%= pen.protetico.nome unless pen.protetico.nil? %></td>
    <td><%= pen.paciente.nome unless pen.paciente.nil?%></td>
    <td><%= pen.tabela_protetico.descricao unless pen.tabela_protetico.nil? %></td>
    <td align='right'><%= pen.valor.real %></td>
  </tr>
<% end %>
</table>
<% end %>