- content_for :main do
  Mala-direta
  = @pacientes.size
  %table
    - @pacientes.each do |pac|
      - if pac.present?
        %tr
          %td= check_box_tag "paciente_#{pac.id}", true,true
          %td= pac.nome
          %td= pac.logradouro
          %td= pac.bairro 
          %td= pac.cidade + "/" + pac.uf if pac.cidade && pac.uf
          %td= pac.cep  
          %td= pac.email
