- content_for :main do
  %h2
    Mala-direta
  %table
    %tr
      %th= 'Nº'
      %th= "Selec"
      %th= "Nome"
      %th= "Rua"
      %th= "Bairro"
      %th= "Cidade/UF"
      %th= "Cep"
      %th= "email"
    - @pacientes.each_with_index do |pac, index|
      - if pac.present?
        %tr
          %td= index + 1
          %td= check_box_tag "paciente_#{pac.id}", true,true
          %td= pac.nome
          %td= pac.logradouro
          %td= pac.bairro 
          %td= pac.cidade + "/" + pac.uf if pac.cidade && pac.uf
          %td= pac.cep  
          %td= pac.email
