= content_for :main do
  %h3
    Relatorio de exclusão
  - form_tag relatorio_de_exclusao_clinicas_path() do
    %div
      Clínicas :
      = select_tag :clinica_id, options_from_collection_for_select(@clinicas, 'id','nome',params[:clinica_id])
    %div
      Entre : 
      = text_field_tag :data_inicial, @data_inicial.to_s_br, :class=>'datepicker', :size => 11
      e : 
      = text_field_tag :data_final, @data_final.to_s_br, :class=>'datepicker', :size => 11
      = submit_tag 'pesquisar'
  %p
  %h4 Recebimentos
  %table
    %tr
      %th Data
      %th{:width=>80} Valor
      %th Usuário
      %th Observação
    -@recebimentos_excluidos.each do |rec|
      %tr
        %td= rec.data.to_s_br
        %td{:align => 'right'}= rec.valor.real
        %td= User.find(rec.usuario_exclusao).nome
        %td= rec.observacao_exclusao
        
  %p
  %h4 Pagamentos
  %table
    %tr
      %th Data
      %th{:width=>80} Valor
      %th Usuário
      %th Observação
    -@pagamentos_excluidos.each do |pag|
      %tr
        %td= pag.data_de_pagamento.to_s_br
        %td{:align => 'right'}= pag.valor_pago.real
        %td= User.find(pag.usuario_exclusao).nome
        %td= pag.observacao_exclusao