<% content_for :main do %>
<fieldset>
<legend>Troca de senha</legend>

<% form_for(@user , :url=>salva_nova_senha_user_path(@user)) do |f| %>
  <%= f.error_messages %>
  <br/>  
  <table class='transparente'>
    <tr>
      <td><%= f.label :nova_senha %> :</td>
      <td><%= f.password_field :password, :size=>8 %></td>
    </tr>
    <tr>
      <td><%= f.label :confirmação_da_senha %> :</td>
      <td><%= f.password_field :password_confirmation, :size=>8 %></td>
    </tr>
  </table>
   
  <br/>
  <%= f.submit "Salvar" %>
<% end %>
</fieldset>
<% end %>