%p
%table
  %tr
    %th Dentista
    %th Clínica
    %th Data
    %th Paciente
    %th Valor
    %th Status
  - @orcamentos.each do |orca| 
    %tr
      %td
        = orca.dentista.nome if orca.dentista.present? 
      %td
        = orca.paciente.clinica.nome 
      %td=orca.data.to_s_br
      %td
        = orca.paciente.nome 
      %td{:align=>'right'} 
        = orca.valor.real 
      %td
        = orca.estado 
