%p
%table
  %tr
    %th Dentista
    %th Clínica
    %th Paciente
    %th Valor
    %th Status
  - @orcamentos.each do |orca| 
    %tr
      %td
        = orca.dentista.nome if orca.dentista.present? 
      %td
        = orca.paciente.clinica.nome 
      %td
        = orca.paciente.nome 
      %td{:align=>'right'} 
        = orca.valor.real 
      %td
        = orca.estado 
      - @aberto_por_clinica[orca.paciente.clinica.id] += 1 if orca.em_aberto?                   
      - @iniciado_por_clinica[orca.paciente.clinica.id] += 1 if orca.aprovado?
