%table{:class=>'tabela'}
  %tr
    %th= 'Dente'
    %th= 'Faces'
    %th= 'Descrição'
    %th= 'Valor'
    %th= 'Custos'
  - total = 0
  - tratamentos.each do |trat|
    %tr
      %td= trat.dente
      %td= trat.faces
      %td= trat.descricao
      %td{:align=>:right}= trat.valor.real
      %td{:align=>:right}= trat.custo.real
    - total += trat.valor
  %tr
    %td{:colspan=>3, :align=>:center}= "Total"
    %td{:align=>:right}= total.real
    %td{:colspan=>1} &nbsp;
