<h1>Listing trabalho_proteticos</h1>

<table class='tabela'>
  <tr>
    <th>Dentista</th>
    <th>Protetico</th>
    <th>Dente</th>
    <th>Data de envio</th>
    <th>Data prevista de devolucao</th>
    <th>Data de devolucao</th>
    <th>Tabela protetico</th>
    <th>Valor</th>
    <th>Cor</th>
    <th>Observacoes</th>
    <th>Data de repeticao</th>
    <th>Motivo da repeticao</th>
    <th>Data prevista da devolucao da repeticao</th>
  </tr>

<% @trabalho_proteticos.each do |trabalho_protetico| %>
  <tr>
    <td><%=h trabalho_protetico.dentista_id %></td>
    <td><%=h trabalho_protetico.protetico_id %></td>
    <td><%=h trabalho_protetico.dente %></td>
    <td><%=h trabalho_protetico.data_de_envio %></td>
    <td><%=h trabalho_protetico.data_prevista_de_devolucao %></td>
    <td><%=h trabalho_protetico.data_de_devolucao %></td>
    <td><%=h trabalho_protetico.tabela_protetico_id %></td>
    <td><%=h trabalho_protetico.valor %></td>
    <td><%=h trabalho_protetico.cor %></td>
    <td><%=h trabalho_protetico.observacoes %></td>
    <td><%=h trabalho_protetico.data_de_repeticao %></td>
    <td><%=h trabalho_protetico.motivo_da_repeticao %></td>
    <td><%=h trabalho_protetico.data_prevista_da_devolucao_da_repeticao %></td>
    <td><%= link_to 'Show', trabalho_protetico %></td>
    <td><%= link_to 'Edit', edit_trabalho_protetico_path(trabalho_protetico) %></td>
    <td><%= link_to 'Destroy', trabalho_protetico, :confirm => 'Tem certeza?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New trabalho_protetico', new_trabalho_protetico_path %>