<% content_for :main do %>
<fieldset>
<legend>Novo trabalho protetico : <b><%= @paciente.nome %></b></legend>

<% form_for(@trabalho_protetico) do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :paciente_id %>
  <%= f.hidden_field :clinica_id %>
  <%= f.hidden_field :tratamento_id %>
  <p>
    Tratamento : <%= @tratamento.descricao if @tratamento %>
  </p>
  <p>
    <%= f.label :dentista_id %> :
    <%= f.select :dentista_id, @dentistas, :include_blank=>true %>
  </p>
  <p>
    <%= f.label :dente %> :   
    <%= f.text_field :dente, :size=>10 %>
  </p>
  <hr>
  <p>
    <%= f.label :protetico_id %><br />
    <%= f.select :protetico_id, @proteticos, {:include_blank=>true}, :onchange=>"escolheu_protetico();" %>
  </p>
  <p>
    <%= f.label :data_de_envio %><br />
    <%=text_field_tag :datepicker, Date.today.to_s_br, :size=>10 %>
<% #TODO Colocar o dia da semana %>
  </p>
  <p>
    <%= f.label :data_prevista_de_devolução %><br />
    <%= text_field_tag :datepicker2, (Date.today + 5.days).to_s_br, :size=>10 %>
  </p>
  <p>
    <%= f.label :data_de_devolução %><br />
    <%= text_field_tag :datepicker3, @trabalho_protetico.data_de_devolucao.to_s_br, :size=>10 %>
  </p>
  <p>
    <%= f.label :tabela_protetico_id %><br />
    <%= f.select :tabela_protetico_id,[],{}, :onchange=>"escolheu_item_da_tabela();" %>
  </p>
  <p>
    <%= f.label :valor %><br />
    <%= f.text_field :valor, :size=>8 %>
  </p>
  <p>
    <%= f.label :cor %><br />
    <%= f.text_field :cor, :size=>8 %>
  </p>
  <p>
    <%= f.label :observações %><br />
    <%= f.text_area :observacoes, :rows=>3, :columns=>50 %>
  </p>
  <p>
    <%= f.label :data_de_repeticao %><br />
    <%= text_field_tag :datepicker4, @trabalho_protetico.data_de_repeticao.to_s_br, :size=>10 %>
  </p>
  <p>
    <%= f.label :motivo_da_repeticao %><br />
    <%= f.text_field :motivo_da_repeticao %>
  </p>
  <p>
    <%= f.label :data_prevista_da_devolucao_da_repeticao %><br />
    <%= text_field_tag :datepicker5, @trabalho_protetico.data_prevista_da_devolucao_da_repeticao.to_s_br, :size=>10 %>
    
  </p>
  <p>
    <%= f.submit 'salvar' %>
  </p>
<% end %>

<%= link_to 'voltar', abre_paciente_path(@trabalho_protetico.paciente) %>
<% end %>
</fieldset>