<Fieldset class='fieldset_50'>
<legend><%= titulo %> de dinheiro <%= titulo=="Entrada" ? ' ( da administração para a clínica )' : ' ( da clínica para a administraçao ) '%></legend>

<table>
  <tr>
    <th width="100px">Data</th>
    <th width="100px">Valor</th>
    <th width="200px">Observação</th>
    <% if titulo.downcase == 'remessa'%>
      <th width='200px'>Confirmado</th>
    <% end %>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>

<% movimentacao.each do |mov| %>
  <tr>
    <td align="center"><%=h mov.data.to_s_br %></td>
    <td align="right"><%=h mov.valor.abs.real %></td>
    <td><%=h mov.observacao %></td>
    <% if titulo.downcase == 'remessa'%>
      <td align='center'><%=h mov.data_confirmacao_da_entrada.to_s_br if mov.data_confirmacao_da_entrada %></td>
    <% end %>
    <td><%= link_to 'editar', edit_entrada_path(mov), :class=>'ui-icon ui-icon-pencil' , :title=>'editar' if !mov.confirmada? %></td>
    <td><%= link_to 'excluir', mov, :confirm => 'Tem certeza ?', :method => :delete , :class=>'ui-icon ui-icon-trash' , :title=>'excluir'if !mov.confirmada?%></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nova ' + titulo, new_entrada_path(:tipo=>titulo) %>
</fieldset>