<% content_for :main do %>
<fieldset>
	
  <legend>Nova <%= params[:tipo] %></legend>

<% form_for(@entrada) do |f| %>
  <%= f.error_messages %>
  <%= hidden_field_tag :tipo, params[:tipo]%>
  <div>
    <%= f.label :data %> :
    <%= text_field_tag :datepicker, @entrada.data.to_s_br,  :size=>10, :class=> 'txt' %>
  </div>
  <div>
    <%= f.label :valor %> :
    <%= f.text_field :valor_br, :size=>10, :class=> 'txt' %>
  </div>
  <div>
    <%= f.label :observação %> :
    <%= f.text_field :observacao, :size=>30, :class=> 'txt' %>
  </div>
  <div>
    <%= f.submit 'salvar' %>
    <%= link_to 'voltar', entradas_path %>
  </div>
<% end %>

</fieldset>
<% end %>