- content_for :main do
  - form_for @senha do |f|
    = f.hidden_field :controller_name
    = f.hidden_field :action_name
    = f.label :senha
    = f.password_field :senha, :size=> 6
    %p
    = f.submit "salvar"
    = link_to "voltar", :back
    