<% content_for :main do %>
<fieldset>
<legend>Editando débito</legend>

<% form_for(@debito) do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label :paciente %> : <b> <%= @debito.paciente.nome %></b>
    <%= f.hidden_field :paciente_id %>
  </p>

  <p>
	<%= f.label :data %><br />
  	<%= text_field_tag :datepicker, @debito.data.to_s_br, :size=>10 %>
  </p>
  <p>
    <%= f.label :valor %><br />
    <%= f.text_field :valor, :size=>8 %>
  </p>
  <p>
    <%= f.label :descrição %><br />
    <%= f.text_field :descricao %>
  </p>
  <p>
    <%= f.submit 'salvar' %>
  </p>
<% end %>

<%= link_to 'voltar', abre_pacientes_path(:id=>@debito.paciente_id) %>
<% end %>