<h1>Editing debito</h1>

<% form_for(@debito) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :paciente_id %><br />
    <%= f.text_field :paciente_id %>
  </p>
  <p>
    <%= f.label :tratamento_id %><br />
    <%= f.text_field :tratamento_id %>
  </p>
  <p>
    <%= f.label :valor %><br />
    <%= f.text_field :valor %>
  </p>
  <p>
    <%= f.label :descricao %><br />
    <%= f.text_field :descricao %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @debito %> |
<%= link_to 'Back', debitos_path %>