<% content_for :main do %>
  <h3>Pacientes em débito</h3>
  
  <% form_tag :url=>pacientes_em_debito_debitos_path do %>
    <% cont = 0 %>
    <fieldset class='fieldset_60'>
    <table class='transparente'>
      <% @tabelas.each() do |tab| %>
        <% if cont % 5 == 0 %>
          </tr><tr>
        <% end %>
        <td><%= check_box_tag "tabela_#{tab.id}",value = tab.id,params['tabela_' + tab.id.to_s] %>  
        <%= tab.nome %> </td>
        <% cont += 1%>
       <% end %>
    </tr>
    </table>
    </fieldset>
    <%  params[:tipo] = 'clinica' if !params[:tipo] %>
    <%= radio_button_tag :tipo, :clinica, params[:tipo]=='clinica'  %> da clínica
    <%= radio_button_tag :tipo, :ortodontia, params[:tipo]=='ortodontia' %> de ortodontia
    <%= submit_tag "pesquisar" %>
  <% end %>
  <br/>
  <table>
  <tr>
    <th>Paciente</th>
    <th>Telefone</th>
    <th>Celular</th>
    <th>Saldo devedor</th>
  </tr>
  <% total = 0.0 %>
  <% @em_debito.each() do |pac| %>
    <tr>
    <td><%= link_to pac.nome , abre_paciente_path(pac)%></td>
    <td><%= pac.telefone %></td>
    <td><%= pac.celular %></td>
    <td align="right" style="color:red;"><%= pac.saldo.real %></td>
    <% total += pac.saldo %>
    </tr>
  <% end %>
  <tr>
  <td>Total</td>
  <td colspan="3"align="right" style="color:red;"><%= total.real %></td>
  </tr>
  </table>
<% end %>