<fieldset class="fieldset_40">

<% form_for(@dentista) do |f| %>
  <%= f.error_messages %>

  <div>
    <%= f.label :nome %> : 
    <%= f.text_field :nome %>
  </div>
  <div>
    <%= f.label :CRO %> : 
    <%= f.text_field :cro, :size=>10 %>
  </div>
  <div>
    <%= f.label :telefone %> : 
    <%= f.text_field :telefone %>
  </div>
  <div>
    <%= f.label :celular %> : 
    <%= f.text_field :celular %>
  </div>
  <div>
    <%= f.label :especialidade %> : 
    <%= f.text_field :especialidade, :size=>20 %>
  </div>
  <div>
    <%= f.label :percentual %> : 
    <%= f.text_field :percentual, :size=>4 %> %
  </div>
  <p>
    <%= f.check_box :ativo %>
    <%= f.label :ativo %>
    &nbsp;&nbsp;&nbsp;
     <%= f.check_box :ortodontista %><%= f.label :ortodontista %>
  </p>
  <div>
    <%= f.label :logradouro %> : 
    <%= f.text_field :logradouro, :size => 39 %> 
  </div>
  <div>
    <%= f.label :número %> : 
    <%= f.text_field :numero, :size => 9 %> 
  </div>
  <div>
    <%= f.label :complemento %> : 
    <%= f.text_field :complemento, :size => 9 %> 
  </div>
  <div>
    <%= f.label :bairro %> : 
    <%= f.text_field :bairro %> 
  </div>
  <div>
    <%= f.label :município %> : 
    <%= f.text_field :municipio %> 
  </div>
  <div>
    <%= f.label :cep %> : 
    <%= f.text_field :cep, :size => 9 %> 
  </div>
  <div>
    <%= f.label :cpf %> : 
    <%= f.text_field :cpf, :size => 15 %> 
  </div>
  <div>
    <%= f.label :email %> : 
    <%= f.text_field :email, :size => 49 %> 
  </div>
  
  <fieldset>
    <legend>Clínicas onde atua :</legend>
    <% @clinicas.each() do |clinica| %>
      <%= check_box_tag "clinica_#{clinica.id}", clinica.id, checked=@dentista.clinicas.include?(clinica) %>  
    <%= clinica.nome %><br/>
    <% end %>
  </fieldset>
  <p>
    <%= f.submit 'alterar' if @clinica_atual.administracao? %>
  </p>
<% end %>
</fieldset><br/>
<%= link_to 'voltar', dentistas_path %>

