<fieldset class="fieldset_40">

<% form_for(@dentista) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nome %> : 
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.label :CRO %> : 
    <%= f.text_field :cro, :size=>10 %>
  </p>
  <p>
    <%= f.label :telefone %> : 
    <%= f.text_field :telefone %>
  </p>
  <p>
    <%= f.label :celular %> : 
    <%= f.text_field :celular %>
  </p>
  <p>
    <%= f.label :especialidade %> : 
    <%= f.text_field :especialidade, :size=>20 %>
  </p>
  <p>
    <%= f.label :percentual %> : 
    <%= f.text_field :percentual, :size=>4 %> %
  </p>
  <p>
    <%= f.check_box :ativo %>
    <%= f.label :ativo %>
    &nbsp;&nbsp;&nbsp;
     <%= f.check_box :ortodontista %><%= f.label :ortodontista %>
  </p>
  <fieldset>
    <legend>Clínicas onde atua :</legend>
    <% @clinicas.each() do |clinica| %>
      <%= check_box_tag "clinica_#{clinica.id}", clinica.id, checked=@dentista.clinicas.include?(clinica) %>  
    <%= clinica.nome %><br/>
    <% end %>
  </fieldset>
  <p>
    <%= f.submit 'alterar' if session[:clinica_id]== 10 %>
  </p>
<% end %>
</fieldset><br/>
<%= link_to 'voltar', dentistas_path %>

