<table>
  <tr>
    <th><br/>Data</th>
    <th><br/>Paciente</th>
    <th width='100px'><br/>Valor</th>
    <th><br/>Desconto</th>
    <th width='100px'>Valor c/ desconto</th>
    <th>Núm. de<br/> parcelas</th>
    <th width='100px'><br/>Valor parcela</th>
    <th><br/>Estado</th>
  </tr>
<% @orcamentos.each do |orca| %>
  <tr>
    <td><%= orca.data.to_s_br %></td>
    <td><%= link_to orca.paciente.nome, abre_paciente_path(orca.paciente) %></td>
    <td align='right'><%= orca.valor.real %></td>
    <td align='right'><%= orca.desconto %></td>
    <td align='right'><%= orca.valor_com_desconto.real %></td>
    <td align='right'><%= orca.numero_de_parcelas %></td>
    <td align='right'><%= orca.valor_da_parcela.real %></td>
    <td><%= orca.id %> | <%= orca.estado %></td>
  </tr>
<% end %>
</table>