    Entre : <%= text_field_tag :datepicker, @inicio.to_s_br, :size=>10 %>
    e : <%= text_field_tag :datepicker2, @fim.to_s_br, :size=>10 %>
    <% if administracao? %>
      <br/>
      Clínicas :  
      <% @dentista.clinicas.each() do |clinica| %>
        <%= check_box_tag "aclinica_#{clinica.id}",value= clinica.id,false %>  
        <%= clinica.nome %> &nbsp;&nbsp;
      <% end %>
    <% else %>
      <span style="display:none">
        <%= check_box_tag session[:clinica], session[:clinica_id],true %> 
      </span>
      <% end %>
<br/><br/><%= button_to "pesquisar" , "javascript:producao();"%>
<p>
  <div id="lista"></div>
</p>

