<% content_for :main do %>
<fieldset>
<legend>Editing dentista</legend>

<% form_for(@dentista) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome %>
  </p>
  <p>
    <%= f.label :telefone %><br />
    <%= f.text_field :telefone %>
  </p>
  <p>
    <%= f.label :celular %><br />
    <%= f.text_field :celular %>
  </p>
  <p>
    <%= f.label :ativo %><br />
    <%= f.check_box :ativo %>
  </p>
  <p>
    <%= f.submit 'alterar' %>
  </p>
<% end %>

<%= link_to 'mostrar', @dentista %> |
<%= link_to 'voltar', dentistas_path %>
</fieldset>
<% end %>