<% content_for :main do %>
<h3>Listando dentistas</h3>

<table>
  <tr>
    <th width="200px">Nome</th>
    <th width="80px">Telefone</th>
    <th width="80px">Celular</th>
    <th width="60px">Ativo</th>
    
  </tr>

<% @dentistas.each do |dentista| %>
  <tr>
    <td><%= link_to dentista.nome, abre_dentista_path(:id=>dentista.id) %></td>
    <td><%=h dentista.telefone %></td>
    <td><%=h dentista.celular %></td>
    <td><%=h dentista.ativo %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Novo dentista', new_dentista_path %>

<% end %>