<% content_for :main do %>
<fieldset>

<legend>Novo dentista</legend>

<% form_for(@dentista) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :CRO %><br />
    <%= f.text_field :cro, :size=>10 %>
  </p>
  <p>
    <%= f.label :nome %><br />
    <%= f.text_field :nome, :size=>45 %>
  </p>
  <p>
    <%= f.label :telefone %><br />
    <%= f.text_field :telefone, :size=>25 %>
  </p>
  <p>
    <%= f.label :celular %><br />
    <%= f.text_field :celular, :size=>25 %>
  </p>
  <p>
     <%= f.check_box :ativo %><%= f.label :ativo %>
  </p>
<fieldset>
    <legend>Clínicas onde atua :</legend>
    <% @clinicas.each() do |clinica| %>
      <%= check_box_tag "clinica_#{clinica.id}", clinica.id, checked=@dentista.clinicas.include?(clinica) %>  
    <%= clinica.nome %><br/>
    <% end %>
  </fieldset>
  <p>
    <%= f.submit 'Criar' %>
  </p>
<% end %>

<%= link_to 'voltar', dentistas_path %>
</fieldset>
<% end %>