<% content_for :main do %>
<div id="formulario">
<fieldset class="fieldset_40">
<legend>Novo pagamento 
  <%= " : protético " + @protetico.nome if @protetico %>
  <%= " : dentista " + @dentista.nome if @dentista %>
</legend>
<% form_for(@pagamento) do |f| %>
  <%= f.error_messages %>
<div id="valor_restante" class="direita">
<p><%= f.label :valor_restante %>
    <%= f.text_field :valor_restante, :size=>9 %></p>
    <p>
      <%= f.radio_button :opcao_restante,  0, :onclick=>"cheque(0);"%> sem restante<br/>
      <%= f.radio_button :opcao_restante,  1, :onclick=>"cheque(1);" %> pago em cheque<br/>
      <%= f.radio_button :opcao_restante, 2, :onclick=>"cheque(0);" %> pago em dinheiro<br/>
      <%= f.radio_button :opcao_restante, 3, :onclick=>"cheque(0);"%> fica devendo<br/>
      <%= f.radio_button :opcao_restante, 4, :onclick=>"cheque(0);"%> ignora restante<br/>
      <%= f.radio_button :opcao_restante, 5, :onclick=>"cheque(0);"%> recebe_troco<br/>
    </p>
</div>
<%= hidden_field_tag :dentista_id , @dentista.id if @dentista %>

  <p><%= f.label :tipo_de_pagamento %> : 
    <%= f.select :tipo_pagamento_id, @tipos_pagamento %>
  </p>
  <p>
    <%= f.label :data_de_pagamento %> : 
    <%= text_field_tag :datepicker, Date.today.to_s_br, :size=>10 %>
 </p>
  <p>
    <%= f.label :valor %> : <%= f.text_field :valor_pago, :size=>10 , :onblur=>'$("#disponiveis").show();'%>
  </p>
  
  <p>
    <%= f.label :observação %> : 
    <%= f.text_field :observacao, :size=>40 %>
  </p>
  <p>
    <%= f.check_box :nao_lancar_no_livro_caixa %>
    <%= f.label :não_lançar_no_livro_caixa %>
  </p>
  <div id="cheque_classident" style="display:none">
    <fieldset>
      <legend>Cheque da classident</legend>
      <%= f.label :conta %> : 
      <%= f.select :conta_bancaria_id, @contas_bancarias %>
      <%= f.label :n_cheque %> : 
      <%= f.text_field :numero_do_cheque, :size=>7 %>
      <%= f.label :valor %> : 
      <%= f.text_field :valor_cheque, :size=>8 %>
    </fieldset>
  </div>
  <% if administracao? && @dentista.present? %>
  <div id="custo_das_clinicas" style="display:true">
    <fieldset>
      <legend>Custos das clínicas</legend>
      <table class='transparente'>
        <tr>
          <td>&nbsp;</td>
          <td>Clínicas :</td>
          <td>Valores :</td>
        </tr> 
      <% @dentista.clinicas.each do |clinica| %>
          <td><%= check_box_tag "custo_clinica_#{clinica.id}", '', true%></td>
          <td><%= clinica.nome %></td>
          <td><%= text_field_tag "valor_#{clinica.id}", {}, :size=>8 %></td>
        </tr>
      <% end %>
      </table>
      <p></p>
    </fieldset>
  </div>
  <% end %>
  <%= hidden_field_tag :cheques_ids %>
  <p>
    <%= f.submit 'Criar' %>
  </p>

<% end %>
<%= render :partial=>"cheques/disponiveis" %>
<%= link_to 'voltar', relatorio_pagamentos_path %>

</fieldset>
</div>
<% end %>