<% content_for :main do %>
<%= link_to 'novo pagamento', new_pagamento_path %>

<fieldset>
    <legend>Relatório de pagamentos</legend>
<% form_tag relatorio_pagamentos_path do %>
<table class="transparente">
  <tr>
	<td>
<table class="transparente">
    <tr><td>Início : </td><td><%= text_field_tag :datepicker, @data_inicial.to_s_br, :size=>10 %> </td></tr>
    <tr><td>Fim : </td><td><%= text_field_tag :datepicker2, @data_final.to_s_br, :size=>10 %></td></tr>
    </table>
    </td>
    <td>
     Tipos de pagamento : <br/>
   <%= select_tag 'tipo_pagamento_id', options_for_select(@tipos_pagamento, params[:tipo_pagamento_id] ), :multiple=>true %>
<a href="#" id="selecao" onclick="javascript:selecionar();">todos</a>   </td>
   </tr>
   <tr><td>&nbsp;</td><td><%= submit_tag "pesquisar"%></td></tr>
</table>
  
<% end %>
</fieldset>
<br/>
<table>
  <tr>
    <th>Data de pagamento</th>
    <th>Valor pago</th>
    <th width="220px">Observação</th>
    <th>Tipo</th>
    <th>Livro caixa</th>
    <th>&nbsp;</th>
    <th>&nbsp;</th>
  </tr>
<% total = 0 %>
<% @pagamentos.each do |pagamento| %>
  <tr>
    <td align="center"><%=h pagamento.data_de_pagamento.to_s_br %></td>
    <td align="right"><%=h pagamento.valor_pago.real %></td>
    <td><%=h pagamento.observacao %></td>
    <td><%=h pagamento.tipo_pagamento.nome %></td>
    <td align="center"><%=h pagamento.nao_lancar_no_livro_caixa ? "sim" : "não" %></td>
    <td><%= link_to 'editar', edit_pagamento_path(pagamento) %></td>
    <td><%= link_to 'excluir', pagamento, :confirm => 'Tem certeza ?', :method => :delete %></td>
  </tr>
  <% total += pagamento.valor_pago  %>
<% end %>
  <tr>
  	<td align="center">Total</td>
    <td align="right"><%= total.real%></td>
    <td colspan="5">&nbsp;</td>
  </tr>
</table>

<br />

<%= link_to 'novo pagamento', new_pagamento_path %>
<% end %>