<% content_for :main do %>
<p>
  <b>Tipo de pagamento</b>
  <%=h @pagamento.tipo_pagamento.nome %>
</p>
<p>
  <b>Data de pagamento:</b>
  <%=h @pagamento.data_de_pagamento.to_s_br %>
</p>

<p>
  <b>Valor:</b>
  <%=h @pagamento.valor.real %>
</p>

<p>
  <b>Valor pago:</b>
  <%=h @pagamento.valor_pago %>
</p>

<p>
  <b>Observação:</b>
  <%=h @pagamento.observacao %>
</p>

<p>
  <b>Nao lancar no livro caixa:</b>
  <%=h @pagamento.nao_lancar_no_livro_caixa %>
</p>

<p>
  <b>Data de exclusao:</b>
  <%=h @pagamento.data_de_exclusao %>
</p>
<p>
  Cheques utilizados <br/>
  <table>
	<tr>
	  <th width="140px">Paciente</th>
	  <th width="90px">Valor</th>
	  <th width="120px">Banco</th>
	  <th>Número</th>
	</tr>
  <% @pagamento.cheques.each() do |cheque| %>
    <tr>
      <td><%= cheque.recebimento.paciente.nome %></td>
      <td align="right"><%= cheque.valor.real %></td>
      <td><%= cheque.banco.numero + "-" + cheque.banco.nome %></td>
      <td><%= cheque.numero %></td>
    </tr>
  <% end %>
  </table>
</p>

<%= link_to 'editar', edit_pagamento_path(@pagamento) %> |
<%= link_to 'voltar', relatorio_pagamentos_path %>
<% end %>