<%= stylesheet_link_tag 'plain_old_table.css'%>
<p>
  <b>Tipo de pagamento</b>
  <%=h @pagamento.tipo_pagamento.nome %>
</p>
<p>
  <b>Data de pagamento:</b>
  <%=h @pagamento.data_de_pagamento.to_s_br %>
</p>

<p>
  <b>Valor:</b>
  <%=h @pagamento.valor.real %>
</p>

<p>
  <b>Valor pago:</b>
  <%=h @pagamento.valor_pago.real %>
</p>
<p>
  <b>Valor restante:</b>
  <%=h @pagamento.valor_restante.real %> - 
  <%=h @pagamento.descricao_opcao_restante %>
</p>

<p>
  <b>Observação:</b>
  <%=h @pagamento.observacao %>
</p>

<p>
  <b>Lançar no livro caixa:</b>
  <%=h @pagamento.nao_lancar_no_livro_caixa==true ? "n
ão" : "sim" %>
</p>

<p>
  <b>Data de exclusão:</b>
  <%=h @pagamento.data_de_exclusao %>
</p>
<%= render :partial=>"pagamentos/cheques_utilizados" %>

<a href="javascript: self.close();">fechar</a>
