<% content_for :main do %>
  <%= render :partial => '/layouts/include_senha' %>

  <h3>Cheques recebidos</h3>
  <%= @cheques.size %> Cheques recebidos
<% form_tag cheques_recebidos_cheques_path do %>
  <% if @administracao %>
    <p><%= render :partial =>'clinicas/opcoes', :locals => {:clinicas => @clinicas} %></p>
  <% end %>
  <p>
    <%= label_tag :data_inicial %> : <%= text_field_tag :datepicker, @data_inicial.to_s_br, :size=>10 %>

    <%= label_tag :data_final %> : <%= text_field_tag :datepicker2, @data_final.to_s_br, :size=>10  %>
    <%= label_tag :situação %> : 
    <%= select_tag :status, options_for_select(@status, params[:status]) %>
    <%= submit_tag "pesquisar"%>  
  </p>
<% end %>
<br/>
<% dados = "Cheques recebidos;>Bom para;Paciente;Valor;Banco;Número;Estado>center;left;right;left;left;left>" %>

<table id='table' class='tabela'>
  <tr>
    <% if @administracao %>
      <th>Clí.</th>
    <% end %>
    <th>Bom para</th>
    <th width="170px">Paciente</th>
    <th width="60px">Valor</th>
    <th width="100px">Banco</th>
    <th>Agência</th>
    <th>Número</th>
    <th>Adm</th>
    <th width='120px'>Situação</th>
    <th>Data recebimento</th>
  </tr>
  <% total = 0 %>
  <% for cheque in @cheques do %>
    <tr class=<%=cheque.status_class%> id="tr_<%=cheque.id%>">
    <% if @administracao %>
      <% dados += "#{cheque.clinica.nome};#{cheque.bom_para.to_s_br};#{cheque.nome_dos_pacientes}; #{cheque.valor.real};#{cheque.banco && cheque.banco.nome};#{cheque.numero};#{cheque.status}>" %>
      <td><%= cheque.clinica.sigla %></td>
    <% else %>
      <% dados += "#{cheque.bom_para.to_s_br};#{cheque.nome_dos_pacientes}; #{cheque.valor.real};#{cheque.banco && cheque.banco.nome};#{cheque.numero};#{cheque.status}>" %>

    <% end %>
    <td align="center">
      <% if  @administracao %>
        <%= link_to cheque.bom_para.to_s_br, edit_cheque_path(cheque) %>
      <% else %>
        <%= link_to cheque.bom_para.to_s_br, edit_cheque_path(cheque) %>
      <% end %>
    </td>
    <td><%= cheque.nome_dos_pacientes %></td>
    <td align="right"><%= cheque.valor.real %></td>
    <td align="center"><%= cheque.banco.numero + "-"+ cheque.banco.nome unless cheque.banco.nil? %></td>
    <td><%= cheque.agencia  %></td>
    
    <td><%= cheque.numero %></td>
    <% if @administracao %>
      <td><%= cheque.data_recebimento_na_administracao.to_s_br %></td>
    <% else %>
      <td>
        <% if cheque.entregue_a_administracao?  %>
          <%= image_tag "ok.png" %>
          <%= cheque.data_entrega_administracao.to_s_br %>
        <% elsif cheque.disponivel? %>
           <%= check_box_tag "adm_"+cheque.id.to_s %>
        <% end %>
      </td>
    <% end %>
    <td><%= status = case 
        when cheque.status == "usado pgto" then link_to cheque.status, '#', :onclick=>'javascript:abre_pagamento('+ cheque.pagamento_id.to_s + ')'
        when cheque.entregue_a_administracao? then 
           link_to 'reverter', '#', :onclick=>"javascript:reverte_cheque(#{cheque.id})"
       else cheque.status_resumido
    end %>
  
  </td>
    <td><%= cheque.data_recebimento_na_administracao.to_s_br %></td>
  </tr>
  <% total += cheque.valor %>
  <% end %>
  <tr>
    <% if @administracao %>
      <td colspan="3" align="center">Total</td>
      <td align="right"><%= total.real%></td>
      <td colspan="6" align="right">&nbsp;</td>
    <% else %>
      <td colspan="2" align="center">Total</td>
      <td align="right"><%= total.real%></td>
      <td colspan="6" align="right"><%= link_to_function "enviar cheques selecionados p/ administração" , "enviar_administracao();"  if params[:status]=="disponíveis" && !@administracao %></td>
    <% end %>
    
  </tr>
</table>
<%= link_to "imprime", "#", :onclick=>"gera_pdf('#{dados}')"%>
</div>
<script type="text/javascript">
  function reverte_cheque(id){
     $.ajax({
     url : "/cheques/"+ id + "/reverte_cheque",
     type: 'POST',
     success: function(){
       $("#tr_" + id).remove();
       }
    });
  }
</script>

<% end %>
