<% content_for :main do %>
  <h3>Cheques recebidos</h3>
  <%= @cheques.size %> Cheques recebidos
<% form_tag cheques_recebidos_cheques_path do %>
  <p>
  <%= label_tag :data_inicial %> : <%= text_field_tag :datepicker, @data_inicial.to_s_br, :size=>10 %>

  <%= label_tag :data_final %> : <%= text_field_tag :datepicker2, @data_final.to_s_br, :size=>10  %>
  <%= label_tag :situação %> : 
 <%= select_tag :status, options_for_select(@status, params[:status]) %>
<%= submit_tag "pesquisar"%>  
</p>

  
<% end %>
<br/>

<table>
  <tr>
    <% if @administracao %>
      <th>Clínica</th>
    <% end %>
    <th>Bom para</th>
    <th width="170px">Paciente</th>
    <th width="60px">Valor</th>
    <th width="140px">Banco</th>
    <th>Agência</th>
    <th>Conta corrente</th>
    <th>Número</th>
    <th>Adm</th>
    <th>Situação</th>
    <th>Data recebimento</th>
  </tr>
  <% total = 0 %>
  <% for cheque in @cheques do %>
  <tr>
    <% if @administracao %>
      <td><%= cheque.id %>-<%= cheque.clinica.nome %></td>
    <% end %>
    <td align="center">
      <% if  @administracao %>
        <%= cheque.bom_para.to_s_br %>
      <% else %>
        <%= link_to cheque.bom_para.to_s_br, edit_cheque_path(cheque) %>
      <% end %>
    </td>
    <td><%= cheque.nome_dos_pacientes%></td>
    <td align="right"><%= cheque.valor.real %></td>
    <td align="center"><%= cheque.banco.numero + "-"+ cheque.banco.nome unless cheque.banco.nil? %></td>
    <td><%= cheque.agencia  %></td>
    <td><%= cheque.conta_corrente %></td>
    <td><%= cheque.numero %></td>
    <% if @administracao %>
      <td>x<%= cheque.data_recebimento_na_administracao.to_s_br %></td>
    <% else %>
      <td><% if cheque.entregue_a_administracao  %>
            <%= image_tag "ok.png" %>
            <%= cheque.data_entrega_administracao.to_s_br %>
          <% else if cheque.disponivel? %>
                 <%= check_box_tag "adm_"+cheque.id.to_s %>
          <% end %>
          <% end %>
      </td>
    <% end %>
    <td><%= status = case 
        when cheque.status == "usado pgto" then link_to cheque.status, '#', :onclick=>'javascript:abre_pagamento('+ cheque.pagamento_id.to_s + ')'
       else cheque.status
    end %>
  
  </td>
    <td><%= cheque.recebimentos.first.data.to_s_br unless cheque.recebimentos.empty? %></td>
  </tr>
  <% total += cheque.valor %>
  <% end %>
  <tr>
    <td colspan="3" align="center">Total</td>
    <td align="right"><%= total.real%></td>
    <td colspan="5" align="right"><%= link_to "enviar cheques selecionados p/ administração" , "#", :onclick=>"enviar_administracao();"  if params[:status]=="disponíveis" && !@administracao %></td>
    <td>&nbsp;</td>
  </tr>
</table>
<% end %>
