<% content_for :main do %>
<fieldset class='fieldset_60'>
<legend>Novo tratamento</legend>
<% form_for(@tratamento) do |f| %>

  <%= hidden_field_tag :items, @paciente.tabela.item_tabelas.to_json, :size=>150 %>

  <%= f.hidden_field :paciente_id %>
  <%= f.error_messages %>
  <div>
    <%= f.label :dente %> : 
    <%= text_field_tag :dentes, params[:dentes], :size=> 12, :class=>'txt' %>
  </div>
  <p>
   <Fieldset class='fieldset_20'>
    <legend>Faces</legend>
    <table class='transparente'>
      <tr>
        <td><%= f.check_box :mesial, :onclick=>'selecionou_face();' %> Mesial</td>
        <td><%= f.check_box :distal, :onclick=>'selecionou_face();' %> Distal</td>
        <td><%= f.check_box :oclusal, :onclick=>'selecionou_face();' %> Oclusal</td>
      </tr>
      <tr>
        <td><%= f.check_box :vestibular, :onclick=>'selecionou_face();' %> Vestibular</td>
        <td><%= f.check_box :lingual, :onclick=>'selecionou_face();' %> Lingual</td>
        <td><%= check_box_tag :todas,value='1', checked=false,options={:onclick=> 'todas_as_faces();'} %> Todas</td>
      </tr>
    </table>
   </fieldset>
  </p>
  <p>
  <div id='estado'>
    <Fieldset  class='fieldset_30'>
      <legend>Estado</legend>
      <table class='transparente'>
        <tr>
          <td><%= f.radio_button :estado, :ausente, :onclick=>'selecionou_estado();' %> Ausente</td>
          <td><%= f.radio_button :estado, :incluso, :onclick=>'selecionou_estado();' %> Incluso</td>
          <td><%= f.radio_button :estado, :exodontia, :onclick=>'selecionou_estado();' %> Exodontia</td>
          <td><%= f.radio_button :estado, :retentor, :onclick=>'selecionou_estado();' %> Retentor</td>
        </tr>
        <tr>
          <td><%= f.radio_button :estado, :pontico, :onclick=>'selecionou_estado();' %> Pôntico</td>
          <td><%= f.radio_button :estado, :implante, :onclick=>'selecionou_estado();' %> Implante</td>
          <td><%= f.radio_button :estado, :endodontia, :onclick=>'selecionou_estado();' %> Endodontia</td>
          <td><%= f.radio_button :estado, :nucleo, :onclick=>'selecionou_estado();' %> Núcleo</td>
        </tr>
      </table>
<span style='display:none;'><%=f.radio_button :estado, :nenhum %></span>
    </fieldset>
  </div>
  </p>
  <br/>
    <%= f.hidden_field :item_tabela_id, :size=>4%>
  <div>
    <%= f.label :Código %> :
    <%= text_field_tag :codigo , '', :size => 12, :class=>'txt'%>
  </div>
    <div>
    <%= f.label :procedimento %> : 
    <%= f.text_field :descricao, :size=>"40", :class=>"txt ui-autocomplete-input" %>
  </div>
  <div>
    <%= f.label :valor %> :
    <%= f.text_field :valor_pt, :size=>10, :class=>'txt'  %>
  </div>
  <div>
    <%= f.label :custo %> :
    <%= f.text_field :custo_pt, :size=>10, :class=>'txt' %>
  </div>
  <div>
    <%= f.label :dentista %> :
    <%= f.select :dentista_id, @dentistas, :include_blank=>true, :class=>'txt' %>
  </div>
  <div>
    <%= f.label :data_de_término %> :
    <%= f.text_field :data_termino_br, :class => 'datepicker', :size=>10     %>
  </div>
  <p>
  </p>
  <%= f.submit "salvar" %>
<% end %>
</fieldset>
<%= link_to "voltar", abre_paciente_path(:id=>@tratamento.paciente_id) %>
<style type='text/css'>
    .ui-autocomplete {
      max-height: 180px;
      overflow-y: auto;
    }
</style>
<script type="text/javascript">
  $(function() {
    var source    = new Array();
    var items = $("#items").val().split("},");
    for (ind=0; ind< items.length; ind = ind + 1){
      campos = items[ind].split(":");
      descr  = campos[19].split('\"')[1];
      codigo = campos[16].split(',')[0].split('\"')[1];
      id     = campos[14].split(',')[0];
      source[ind] = {label: codigo + " - " + descr, 
                     value: id};
    }
      $("#tratamento_descricao").autocomplete({
        source: source,
        minLength: 2,
        maxRows: 5,
        select: function(event,ui){
          $("#tratamento_item_tabela_id").val(ui.item.value);
          $("#codigo").val(ui.item.label.split(" - ")[0]);
          selecionou_item_tabela(ui.item.value);
          return false;
        },
        focus: function(e,ui){
          return false;
        }
      });
    });
    
</script>
<% end %>