<% content_for :main do %>

<% form_for @user_session, :url => user_sessions_path do |f| %>
  <%= f.error_messages %>
  <%= flash[:notice]%>
  <div id="flash_erro"><%= flash[:error]%></div>
  <table border="0" cellpadding="0" cellspacing="0">
    <tr>
        <td align="left"><%= f.label :login %></td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td align="left"><%= f.label :senha %></td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td><%= f.text_field :login, :size=>10 %></td>
        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
        <td><%= f.password_field :password, :size=>10 %></td>
        <td><%= f.submit "Entrar" %></td>
    </tr>
</table>
<% end %>

<% end %>