<ul>
  <li><a href= "#">Cadastro</a>
    <ul>
      <li><%= link_to "Usuários", users_path %></li>
      <li><%= link_to "Tabelas", tabelas_path %></li>
      <li><%= link_to "Dentistas", dentistas_path %></li>
      <li><%= link_to "Protéticos", proteticos_path %></li>
      <li><%= link_to "Tabela de protético", tabela_proteticos_path %></li>
    </ul>
  </li>
  <li><a href="#">Paciente</a>
    <ul>
      <li><%= link_to "Pesquisa paciente", pesquisa_pacientes_path %></li>
    </ul>
  </li>
  <li><a href="#">Financeiro</a>
    <ul>
      <li><%= link_to "Formas de recebimento", formas_recebimentos_path %></li>    
      <li><%= link_to "Confirma recebimento de cheques", confirma_recebimento_cheques_path %></li>    
      <li><%= link_to "Cheques recebidos", recebimento_confirmado_cheques_path %></li>
      <li><%= link_to "Recebimentos", das_clinicas_recebimentos_path %></li>
    </ul>
  </li>
</ul>