<ul>
  <li><a href= "#">Cadastro</a>
    <ul>
      <li><%= link_to "Usuários", users_path %></li>
      <li><%= link_to "Descrição das condutas", descricao_condutas_path %></li>
      <li><%= link_to "Tabela de protético", tabela_proteticos_path %></li>
      <li><%= link_to "Indicação" , indicacaos_path %></li>
      <li><%= link_to "Bancos", bancos_path %></li>
    </ul>
  </li>
  <li><a href="#">Paciente</a>
    <ul>
      <li><%= link_to "Pesquisa paciente", pesquisa_pacientes_path %></li>
    </ul>
  </li>
  <li><a href="#">Gerência</a>
    <ul>
      <li><%= link_to "Produção dos dentistas", producao_geral_dentistas_path %></li>
      <li><%= link_to "Aproveitamento dos orçamentos", aproveitamento_orcamentos_path %></li>
      <li><%= link_to "Resumo anual", "#" %></li>
      <li><%= link_to "Controle de exclusões", "#" %></li>
    </ul>
  </li>
  <li><a href="#">Financeiro</a>
    <ul>
      <li><%= link_to "Pagamentos", relatorio_pagamentos_path %></li>
      <li><%= link_to "Fluxo de caixa", fluxo_de_caixa_path %></li>
      <li><%= link_to "Tipo de pagamento", tipo_pagamentos_path %></li>
      <li><%= link_to "Formas de recebimento", formas_recebimentos_path %></li>    
      <li><%= link_to "Cheques recebidos", cheques_recebidos_cheques_path %></li>
      <li><%= link_to "Pesquisa cheque", pesquisa_cheques_path %></li>
      <li><%= link_to "Confirma recebimento de cheques", confirma_recebimento_cheques_path %></li>    
      <li><%= link_to "Cheques confirmados", recebimento_confirmado_cheques_path %></li>
      <li><%= link_to "Recebimentos", das_clinicas_recebimentos_path %></li>
      <li><%= link_to "Contas Bancárias", conta_bancarias_path %></li>
      <li><%= link_to "Entrada de dinheiro", administracao_entradas_path %></li>
    </ul>
  </li>
</ul>