<ul>
  <li><a href= "#">Cadastro</a>
    <ul>
      <li><%= link_to "Tabelas", tabelas_path %></li>
    </ul>
  </li>
  <li><a href="#">Paciente</a>
    <ul>
      <li><%= link_to "Novo paciente", new_paciente_path %></li>
      <li><%= link_to "Pesquisa paciente", pesquisa_pacientes_path %></li>
    </ul>
  </li>
<li><a href="#">Financeiro</a>
    <ul>
      <li><%= link_to "Pagamentos", relatorio_pagamentos_path %></li>
      <li><%= link_to "Tipo de pagamento", tipo_pagamentos_path %></li>
      <li><%= link_to "Recebimentos", relatorio_recebimentos_path %></li>
    </ul>
  </li>
</ul>