<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" >

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" >

<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <title>Classident</title>
  
  <%= javascript_include_tag 'jquery-1.3.2.min.js' %>
  <%= javascript_include_tag 'jquery-ui-1.7.1.custom.min.js'%>
  <%= stylesheet_link_tag 'jquery-ui-1.7.2.custom.css'%>

  <%= javascript_include_tag 'jrails.js'%>
  <%= javascript_include_tag 'select_boxes.js'%>
  <%= javascript_include_tag 'application.js'%>
  <%= javascript_include_tag 'ui.datepicker-pt-BR.js'%>
  <%= stylesheet_link_tag 'adm.css' %>
  <%= stylesheet_link_tag 'plain_old_table.css'%>
  <%= javascript_include_tag 'adm.js'%>
  <%= javascript_include_tag 'clinica.js' %>
</head>
<% if administracao? %>
  <body style='background-color: #F6FDB8;'>
<% else %>
  <body style='background-color: #E6EDF8;'>
<% end %>
<div id="container">
    <div id="cabecalho">
      <div id="logo"><%= image_tag "logo2.jpg"%>
      <div id="login">Usuário : <%= current_user.nome %> ( <%= current_user.tipo_usuario.nome %> ) | <%= @clinica_atual.nome %>
    <% if current_user.tipo_usuario.nivel < 2 %>
     | <a href="#" onClick='outra_clinica();'> outra clinica</a>
    <div id="seleciona_clinica" style="display:none;">
	  <%= render :partial=>"layouts/seleciona_clinica" %>
    </div>
    <% end %>
      | <%= link_to "trocar senha", troca_senha_path %>
      | <%= link_to "logout", logout_path %></div>
      </div>
    </div>
    
    <div id="principal">
        <div class="pd_menu_01">
            <% if administracao? %>
              <%= render :partial=>"layouts/menu_adm" %>
            <% else %>
              <%= render :partial=>"layouts/menu_clinica" %>
            <% end %>
        </div>
<br/><br/>
        <%= yield :main %>

    </div>


  <div id="rodape">
    © 2009 - <a href="http://www.anadata.com.br/"><strong>Anadata Sistemas</strong></a>
    - Todos os direitos reservados
  </div>
</div>
</body>

</html>
