<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" >

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" >

<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <title>Classident</title>
  <%= javascript_include_tag 'jquery-1.4.js' %>
  <%= javascript_include_tag 'jquery-ui-1.8.custom.min.js'%>
  <%= javascript_include_tag 'jquery.price_format.1.0.js'%>
  <%= javascript_include_tag 'jrails.js'%>
  <%= javascript_include_tag 'select_boxes.js'%>
  <%= javascript_include_tag 'application.js'%>
  <%= javascript_include_tag 'ui.datepicker-pt-BR.js'%>
  <%= javascript_include_tag 'adm.js'%>
  <%= javascript_include_tag 'clinica.js' %>
  <%= javascript_include_tag 'jquery.loading.1.6.4.min.js' %>
  
  <%= stylesheet_link_tag 'jquery.ui.autocomplete.css'%>
  <%= stylesheet_link_tag 'adm.css' %>
  <%= stylesheet_link_tag 'jquery.css' %>
  <%= stylesheet_link_tag 'plain_old_table.css'%>
  <%= stylesheet_link_tag 'jquery.loading.1.6.css' %>
</head>
<% if session[:clinica_id].to_i == 10 %>
  <body style='background-color: #F6FDB8;'>
<% else %>
  <body style='background-color: #E6EDF8;'>
<% end %>
<script>
$(document).ready(function() {
  $.loading({
    onAjax: true,
    text: 'Carregando...',
    mask: true
  });
});
</script>
<div id="container">
    <div id="cabecalho">
      <div id="logo"><%= image_tag "logo2.jpg"%>
      <div id="login">Usuário : <%= current_user.nome %> ( <%= current_user.tipo_usuario.nome %> ) | <%= @clinica_atual.nome %>
     <% if current_user.clinicas.size > 1 %>
       | <a href="#" onClick='outra_clinica();'> outra clinica</a>
      <div id="seleciona_clinica" style="display:none;">
      <%= render :partial=>"layouts/seleciona_clinica" %>
      </div>
    <% end %>
      | <%= link_to "trocar senha", troca_senha_path %>
      | <%= link_to "logout", logout_path %></div>
      </div>
    </div>
    
    <div id="principal">
        <div class="pd_menu_01">
            <% if session[:clinica_id].to_i == 10 %>
              <%= render :partial=>"layouts/menu_adm" %>
            <% else %>
              <%= render :partial=>"layouts/menu_clinica" %>
            <% end %>
        </div>
        <br/><br/>
        <%= flash[:notice] %>
        <br/>
        <%= yield :main %>
        <%= yield :detail %>
    </div>


  <div id="rodape">
    © 2009 - <a href="http://www.anadata.com.br/"><strong>Anadata Sistemas</strong></a>
    - Todos os direitos reservados
  </div>
</div>
</body>

</html>
