<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd" >

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" >

<head>
  <meta http-equiv="content-type" content="text/html;charset=utf-8" />
  <title>Classident
    </title>
    
  <% if RAILS_ENV == "development"%>
    <%= javascript_include_tag 'jquery-1.4.js' %>
    <%= javascript_include_tag 'jquery-ui-1.8.custom.min' %>
  <% else %>
    <script src="http://www.google.com/jsapi?key=ABQIAAAAjvzs-ZogAGiunZQ8Jl21TBRtdQgZiUqLdjHUMTfxUCYUR5UWoxSFtbdXCKR_vOwS_kPEOepv5GrTDw" type="text/javascript"></script>
    <%= javascript_include_tag  'http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js' %>
    <%= javascript_include_tag 'http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.3/jquery-ui.min.js'%>
  <% end %>
  <%= stylesheet_link_merged :base %>
</head>
<% if @administracao %>
  <body style='background-color: #F6FDB8;'>
<% else %>
  <body style='background-color: #E6EDF8;'>
<% end %>
<script>
// $(document).ready(function() {
//   $("#tabela").tablesorter();
// });
</script>
<div id="container">
    <div id="cabecalho">
      <%= render :partial=>'layouts/cabecalho', :locals=>{:clinica_atual => @clinica_atual, :current_user => current_user} %>
    </div>
    
    <div id="principal">
        <div class="pd_menu_01">
            <% if @administracao %>
              <%= render :partial=>"layouts/menu_adm" %>
            <% else %>
              <%= render :partial=>"layouts/menu_clinica" %>
            <% end %>
        </div>
      <div id="main">
        <!-- <div class='notice'> -->
          <%= flash[:notice] %>
        <!-- </div> -->
        <%= nome_paciente(@paciente) if @paciente && !@paciente.new_record? %>
        <span id="controller" style='display: none;'><%= params[:controller] %></span> 
        <span id="action" style='display: none;'><%= params[:action] %></span>

        <%= yield :main %>
      </div>
    </div>
    </div>
  <div id="rodape">
    © 2010 - <a href="http://www.anadata.com.br/"><strong>Anadata Sistemas</strong></a>
    - Todos os direitos reservados
  </div>
</body>
  <%= javascript_include_merged :base %>
  <%= javascript_include_tag 'protetico' %>
  <%= javascript_include_tag 'jquery.cookies.2.2.0'%>

</html>
