%html
  %head
    %meta{ :content => "text/html;charset=utf-8", "http-equiv" => "content-type" }
    %title
      Classident
    = javascript_include_tag 'jquery-1.4.js'
    = javascript_include_tag 'jquery-ui-1.8.custom.min.js'
    = javascript_include_tag 'jquery.price_format.1.0.js'
    = javascript_include_tag 'jrails.js'
    = javascript_include_tag 'select_boxes.js'
    = javascript_include_tag 'application.js'
    = javascript_include_tag 'ui.datepicker-pt-BR.js'
    = javascript_include_tag 'adm.js'
    = javascript_include_tag 'clinica.js'
    = javascript_include_tag 'jquery.loading.1.6.4.min.js'
    = stylesheet_link_tag 'jquery.ui.autocomplete.css'
    = stylesheet_link_tag 'adm.css'
    = stylesheet_link_tag 'jquery.css'
    = stylesheet_link_tag 'jquery.loading.1.6.css'
  %script
    $(document).ready(function(){
    $("table tbody tr:odd").addClass("zebraUm");
    $('table tbody tr:even').addClass('zebraDois');
    });

  - cor = session[:clinica_id].to_i == 10 ? "#F6FDB8;" : "#E6EDF8;"
  %body{ :style => "background-color: #{cor}" }
    #container
      #logo
        = image_tag "logo2.jpg"
        #login
          Usuário :
          = current_user.nome
          (
          = current_user.tipo_usuario.nome
          ) |
          = @clinica_atual.nome
          - if current_user.clinicas.size > 1
            |
            %a{ :href => "#", :onclick => "outra_clinica();" }
              outra clinica
            #seleciona_clinica{ :style => "display:none;" }
              = render :partial=>"layouts/seleciona_clinica"
            |
            = link_to "trocar senha", troca_senha_path
            |
            = link_to "logout", logout_path
      #principal
        .pd_menu_01
          - if session[:clinica_id].to_i == 10
            = render :partial=>"layouts/menu_adm"
          - else
            = render :partial=>"layouts/menu_clinica"
        %br
        %br
        = flash[:notice]
        %br
        = @paciente && identifica_paciente(@paciente)
        = yield :main
        = yield :detail
    #rodape
      © 2010 -
      %a{:href => "http://www.anadata.com.br/"}
        %strong
          Anadata Sistemas
        Todos os direitos reservados
        